/* mobile first design */

body {
  width: 480px;
}

header {
  width: 480px;
  height: 75px;
  line-height: 75px;
}

aside {
  float: left;
  height: 150px;
  width: 480px;
  line-height: 150px;
}

main {
  width: 482px;
}

div {
  float: left;
}

#top-left {
  height: 125px;
  width: 480px;
  line-height: 125px;
}

#top-right {
  height: 125px;
  width: 480px;
  line-height: 125px;
}

#column-1 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

#column-2 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

#column-3 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

#column-4 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

footer {
  float: left;
  height: 80px;
  width: 480px;
  line-height: 80px;
}

/* desktop dimensions */
@media(min-width: 768px){

body {
  width: 960px;
}

header {
  width: 960px;
  height: 100px;
  line-height: 100px;
}

aside {
  float: left;
  height: 600px;
  width: 200px;
  line-height: 600px;
}

main {
  width: 965px;
}

div {
  float: left;
}

#top-left {
  height: 200px;
  width: 380px;
  line-height: 200px;
}

#top-right {
  height: 200px;
  width: 380px;
  line-height: 200px;
}

#column-1 {
  height:250px;
  width: 190px;
  line-height: 250px;
  margin: 0;
}

#column-2 {
  height:250px;
  width: 190px;
  line-height: 250px;

}

#column-3 {
  height:250px;
  width: 190px;
  line-height: 250px;
}

#column-4 {
  height:250px;
  width: 190px;
  line-height: 250px;
}

footer {
  width: 760px;
  height: 150px;
  line-height: 150px;
}

}