body {
  width: 480px;
}

header {
  width: 480px;
  height: 75px;
  line-height: 75px;
}

aside {
  float: left;
  height: 150px;
  width: 480px;
  line-height: 150px;
}

main {
  width: 482px;
}

div {
  float: left;
}

#top-left {
  height: 125px;
  width: 480px;
  line-height: 125px;
}

#top-right {
  height: 125px;
  width: 480px;
  line-height: 125px;
}

#column-1 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

#column-2 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

#column-3 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

#column-4 {
  height:250px;
  width: 240px;
  line-height: 250px;
}

footer {
  float: left;
  height: 80px;
  width: 480px;
  line-height: 80px;
}

/* desktop specific dimensions */
@media(min-width: 768px){

body {
  max-width: 960px;
  background-color: whitesmoke;
}

header {
  height: 100px;
  line-height: 100px;
  background-color: #e3fdfd;
}

aside {
  float: left;
  height: 600px;
  width: 200px;
  line-height: 600px;
  background-color: #cbf1f5;
}

main {
  width: 960px;
  height: 450px;
}

#section-1 {
  float: left;
  height: 450px;
  width: 380px;
  overflow: auto;
  margin: 0px;
  
}

#section-2 {
  display: inline-block;
  height: 450px;
  width: 380px;
  overflow: auto;
  margin: 0px;
  
}

#top-left {
  float: left;
  height: 200px;
  width: 380px;
  text-align: center;
  line-height: 200px;
  background-color: #a6e3e9;

}

#top-right {
  clear: both;
  float: inherit;
  height: 200px;
  width: 380px;
  text-align: center;
  line-height: 200px;
  background-color: #a6e3e9;


}

#column-1 {
  float: left;
  height:250px;
  width: 190px;
  line-height: 250px;
  margin: 0;
}

#column-2 {
  height:250px;
  width: 190px;
  line-height: 250px;
  margin: 0;
  display: inline-block;

}

#column-3 {
  height:250px;
  width: 190px;
  line-height: 250px;
  display: inline-block;
  margin: auto;
}

#column-4 {
  height:250px;
  width: 190px;
  line-height: 250px;
  margin: 0;
  float: right;
}

footer {
  /* margin: 0px auto; */
  max-height: 150px;
  height: 150;
  line-height: 150px;
}

}